fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic[email]
python-jose[cryptography]
passlib
bcrypt==5.0.0
python-multipart
httpx
kubernetes
apscheduler
reportlab
cryptography
pyyaml
pytest
